@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: var(--secondary-color);
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
/* css variables color */
:root {
  --primary-text-color: #25243293;
  --primary-color: #4e47ff;
  --primary-bg-color: #e5e7ff;
  --secondary-color: #f5f8ff;
  --light-red-color: #ff4747bd;
  --gray: #757575;
  --dark-grey: #1e1e1e;
  --light-grey: #b3b3b3;
}

/* repetitive style start */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* spacing */
.mt-14 {
  margin-top: 140px;
}
.mb-14 {
  margin-bottom: 140px;
}

/* font styles */
.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* customized button */
.primary-button {
  color: #fff;
  background-color: var(--primary-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 36px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

/* button hover effect */
.primary-button:hover {
  color: var(--primary-color);
  background: #fff;
  border: 1px solid var(--primary-color);
}
.border-none {
  border: none;
  outline: none;
}
/* title styling and text format */
.section-title {
  margin: 10px 0;
  color: var(--dark-grey);
  font-size: 42px;
  font-weight: 700;
}
.section-subtitle {
  margin: 16px 0;
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 400;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* repetitive styling end */

/* header styling */
header {
  background-image: url(/Assets/Hero-bg.png);
  background-position: center;
  background-repeat: repeat-x;
}

/* navigation bar styling */

.grey-word {
  color: var(--light-red-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0 auto;
}

.navbar .logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}
/* banner section styling */
.banner {
  width: 900px;
  padding: 160px 0;
  margin: 0 auto;
}
.banner > .section-title {
  color: var(--dark-grey);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 48px;
}
/* action section styling */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-description {
  width: 500px;
}
.action-description .section-subtitle {
  margin-bottom: 30px;
}
.action-img img {
  width: 100%;
  border-radius: 48px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease-out 0.3s;
  cursor: pointer;
}
/* hover effect within wc action img */
.action-img img:hover {
  scale: 0.9.8;
}
/*  users section styling*/
.productive-users-section {
  background: var(--primary-bg-color);
  padding: 50px 80px;
  border-radius: 24px;
}
.users-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.users-data .users-data-title {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 700;
}
.users-data .users-data-subtitle {
  font-size: 20px;
}

/*user feedback section*/
.feedback-items {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.feedback-items .feedback-item {
  padding: 24px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease-out;
}
.star-icons {
  margin-bottom: 16px;
}
.user-feedback-title {
  color: var(--dark-grey);
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0;
}

.user-feedback-description {
  color: var(--dark-grey);
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0;
}
.user-feedback-details {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 16px;
}
.user-detail .user-title {
  color: var(--gray);
  font-size: 16px;
  font-weight: 600;
}
.user-detail .user-subtitle {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
}
/* feedback item hover effect */
.feedback-item:hover {
  scale: 1.1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* subscription section styling */
.subscription-section {
  background-color: #fff;
  padding: 70px 150px;
  border-radius: 10px;
}
.subscription-section button {
  margin-top: 24px;
}
.subscription-section button a {
  color: #fff;
  font-weight: 500;
}
.subscription-section .section-subtitle {
  font-size: 16px;
}
.subscription-img {
  margin-top: 32px;
}
.subscription-img img {
  border-radius: 16px;
}
/* get in touch section */
.get-in-touch-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.get-in-touch-section .section-title {
  width: 50%;
  color: var(--dark-grey);
  font-size: 100px;
  font-weight: 700;
}
form {
  width: 50%;
}
label,
input {
  display: block;
  margin: 5px 0;
}

.input-group {
  width: 100%;
  margin-bottom: 24px;
}
.input-group input {
  width: 100%;
  height: 80px;
  padding: 24px;
  color: var(--primary-text-color);
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #d6dded;
  border-radius: 10px;
  outline: none;
}
.input-group textarea {
  width: 100%;
  height: 120px;
  padding: 24px;
  color: var(--primary-text-color);
  background-color: #fff;
  font-size: 18px;
  border: 1px solid #d6dded;
  border-radius: 10px;
  outline: none;
  resize: none;
}
.input-group label {
  color: var(--dark-grey);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
input[type="submit"] {
  width: 100%;
}
/* footer section styling */
footer {
  background-color: #fff;
}
.footer-section {
  max-width: 530px;
  margin: 0 auto;
  padding: 120px 0;
}
.footer-section .logo {
  color: var(--primary-color);
  font-size: 100px;
  font-weight: 700;
}
.footer-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footer-description,
.list-item {
  margin: 24px 0;
  color: #8987a1;
  font-size: 16px;
  font-weight: 500;
}
.list-item {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-out;
}
.list-item:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--light-red-color);
}
